.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #fff;
}
.footer, h4, span{
    font-weight: bold;
    color: #61dafb;
}

.ano{
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}